<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<!--    <link href="https://fonts.googleapis.com/css2?family=Outfit&family=Poppins&display=swap" rel="stylesheet">-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">

    <title>Login</title>
</head>
<body >
<div>

    <form action="#"  th:action="@{/login}" method="POST">
        <h1 >Log in</h1>

        <div th:if="${param.isSuccess}">
            <span id="signup-success-msg" th:text="${param.signupMsg}">
                Successes signup msg
            </span>
        </div>

        <div th:if="${param.error}" >
            <p id="error-msg" > Invalid username or password! </p>
        </div>
        <div  th:if="${param.logout}">
            <p id="logout-msg"> You have been logged out!  </p>
        </div>

        <div >
            <label for="inputUsername">Username</label>
            <input type="text"
                   name="username" id="inputUsername"
                   placeholder="Enter your username"
                   maxlength="20" required>
        </div>
        <div >
            <label for="inputPassword">Password</label>
            <input type="password"
                   name="password" id="inputPassword"
                   placeholder="Enter your password"
                   maxlength="20" required>
        </div>
        <input type="submit" value="LOG IN"/>
<!--        <button id="submit-button" type="submit" >Login</button>-->

        <div>
            <label></label>
            <label>
                <a id="signup-link" th:href="@{/signup}">
                    Click here to sign up.
                </a>
            </label>
        </div>

    </form>



</div>
</body>
</html>